name: Security
on:
  pull_request:
  push:
    branches: [main]
  schedule:
    - cron: "0 9 * * 1"

permissions:
  contents: read
  pull-requests: read

jobs:
  security:
    uses: zavestudios/platform-pipelines/.github/workflows/security-scan.yml@main