name: Tests
on: [pull_request, push]

jobs:
  test:
    name: Tests
    uses: zavestudios/platform-pipelines/.github/workflows/python-test.yml@main
  lint:
    name: Lint
    uses: zavestudios/platform-pipelines/.github/workflows/python-lint.yml@main
